# You must provide your personal GitLab token to "password" variable

# UV_INDEX_PRIVATE_USERNAME=__token__

# You must pass your GitLab token via environment variable, but also you can define it in your shell environment

# UV_INDEX_PRIVATE_PASSWORD=glpat-your-personal-gitlab-token

# Astral UV base settings

# UV_COMPILE_BYTECODE=0
# UV_LINK_MODE=hardlink

# You can override tag for local build and base image for local architecture

# DOCKER_TAG=
# BASE_IMAGE=

# Enable development traceback

# BETTER_EXCEPTIONS=1
